.info
	.inner
		.title EL BULLI
		.copy
			p Rendering algorithm for the exhibition “Ferran Adria and El Bulli. Risk, Creativity and freedom”, which showcased the world-famous chef and artist’s work at his restaurant El Bulli. The main idea of this project was to communicate how intricate and uncertain are the paths to creation. How every choice of a creative process might seem random and chaotic at first until the final result emerges providing clarity on why a specific action was taken along the way.
			p The process takes place by feeding into a program a single image. The image is posterized and decomposed into density layers which are filled up with a normalized distribution of points which will constitute the vertices used to generate the line drawing. A point of every density layer is selected randomly to start drawing, and it will keep looping through neighboring points until none are left. 
			p
				| Collaboration : #[a( href='http://www.m-eskenazi.com/', target="_blank" ) Mario Eskenazi] and #[a( href='http://www.rubioarauna.com/', target="_blank" ) Daniel Rubio]