.info
	.inner
		.title MEGAZERO
		.copy
			p
				| Tribute to Alex Trochut by creating an interactive, 3dimensional bootleg of his Megazero font.
			p
				| Megazero type design and original idea by #[a( href='https://alextrochut.com/', target="_blank" ) Alex Trochut]. This interactive version is just for fun and has not been approved, commisioned or even aknowledge by Alex.
			p
				| Original source #[a( href='https://www.instagram.com/p/Ba6mb8SBHKh/?hl=es&taken-by=trochut', target="_blank" ) here] #[br]
				| Interactive version #[a( href='http://proper-code.com/megazero', target="_blank" ) here]