.info
	.inner
		.title MUGSHOTS
		.copy
			p
				| Online experience created to protest against the punitive measures from the infamous Sheriff Arpaio from Maricopa County. Amongst other morally and ethically borderline methods to apprehend the arrests on his office, the Sheriff kept a public site where he displayed the mugshots of his arrests and invited users to vote for the dubious honor of being the mugshot of the week. Besides being on the limits of legality, this action deprived his inmates of the right to be forgotten after serving whatever time corresponded to them by law in prison. Not only that but they where being used without their consent to attract visitors to the website and humiliating them by making public his detention. 
			p
				| Mugshots is a site that operated for an entire year. Every day it would scrape the MCSO for newly added mugshots. Over those results, run a facial recognition algorithm and, depending on the results of the analysis create an illustration that could serve as a 'mask' to cover up the inmate's faces in a symbolic grant of anonymity. The resulting piece was used later as a scrolling audiovisual collecting the more of five thousand mugshots and their corresponding illustrations.
			p
				| Collaboration with: #[a( href='https://www.louis-charlestiar.com/', target="_blank" ) Louis-Charles Tiar]