.info
	.inner
		.title PINTEREST@SXSW 2018
		.copy
			p
				| Digital installation for Pinterest's booth at SXSW 2018. The installation features the 'taste tuner', an abstract visualization of the user's taste based on his selection of pins. Simultaneously, every choice is transmitted to a taste wall projected on the exterior of the venue.
			p
				| Hundreds of people checked out our interactive “Taste Tuner” installation that brought the Pinterest Taste Graph to life and showed how people use our platform to make decisions about what to do or buy.
			p
				| Collaboration : #[a( href='http://mnmly.com/', target="_blank" ) Hiroaki Yamane]