html
	padding 0
	margin 0
	width 100%
body
	font-family 'IBM Plex Mono', monospace
	font-weight 400
	font-size 12px
	line-height 17px
	color #ffffff
	margin 0
	padding 0
	width 100%
	overflow hidden
	#bg
		position fixed
		z-index 0
		top 0
		left 0
		width 100vw
		height 100vh
		
		background radial-gradient( #333 10%, #161616 80% )
	&.mobile
		#main
			#threeLayer
				opacity 0.5	
			#domLayer
				position absolute
				width 90vw
				margin-top -100px
				left 5vw
				#projectList
					#aboutBut
						display none
					#about
						opacity 1
					.project
						display none
	&.projectLoaded
		overflow auto
	&.colorInvert
		#bg
			background #ddd
		#projectLayer
			&.scrolling
				.info
					.inner
						.title
							background #ffffff
						p
							background #ffffff
								
	#main
		position fixed
		z-index 1
		margin 0
		padding 0
		width 100%
		height 100%
		&.project
			#domLayer
				display none
	
		#threeLayer
			position fixed
			width 100vw
			height 100vh
			top 0
			left 0	
				
		#domLayer
			opacity 0
			background rgba( 0, 0, 0, 0.01 )
			position fixed
			width 100vw
			height 100vh
			top 0
			left 0
			z-index 2
			transition opacity 1.4s
			&.ready
				opacity 1
			svg#menu
				transform-origin 0 0
				.svgbb
					opacity 0
					cursor pointer
				.svgtxt
					fill #ffffff
					opacity 0
					&.active
						opacity 1
			#overlays
				position absolute
				top 0
				left 0
				width 100%
				height 100%
				font-size 12px
				text-align center
				pointer-events none
				.overlay
					opacity 0
					height 30vh
					&.active
						opacity 1
						.inner
							a
								pointer-events auto
					.inner
						position relative
						width 96vw
						top 50%
						left 50%
						transform translate( -50%, -50%)
				#projectList
					height 40vh
			
			#projectList
				letter-spacing 0px
				a
					text-decoration none
					color #ffffff
					&:hover
						animation pulse 0.3s infinite
#projectLayer
	position relative
	z-index 2
	#closebut
		cursor w-resize
		position fixed
		z-index 0
		width 100vw
		height 100vh
		top 0
		left 0
		#modulesContainer
			pointer-events none
			.moduleCol
				opacity 0
			#drawCanvas
				opacity 1		
				
	.info
		pointer-events none
		position fixed
		z-index 2
		height 100vh
		width 100vw
		top 0
		left 0
		// transition opacity 0.2s
		.inner
			position absolute
			pointer-events auto
			width 46vw
			top 50%
			left 50%
			margin-right -50%
			transform translate( -50%, 0%)
			.title
			.copy
				margin-top 16px
				p
					a
						color inherit
	#preloader
		font-size 12px
		position fixed
		bottom 3vw
		left 2vw
		width 94vw
		transition opacity 0.5s
		&.loaded
			.inner
				animation pulse 1s infinite
	#modulesContainer
		pointer-events none
		position relative
		z-index 0
		width 96vw
		margin 100vh auto 0
		content ""
		display table
		clear both
		#drawCanvas
			opacity 0
			position absolute
			top 0
			left 0
			z-index 10
		.moduleCol
			width 47.8vw
			&#modulesLeft
				float left
			&#modulesRight
				float right
			
		.module
			position relative
			margin-bottom 0.4vw
			width 100%
			.overlay
				position absolute
				top 0
				left 0
				width 100%
				height 100%
				opacity 0
				background #666666
				.inner
					word-wrap break-word
			img
				width 100%
				height auto
				display block
			iframe
				width 100% !important
				height 100% !important
				display block
			video
				width 100%
				height auto
				display block
			&.code
				height 47vw

@keyframes pulse
	0%
		opacity 0
	50%
		opacity 1
	100%
		opacity 0
		
@media ( max-height : 640px ), ( max-width : 740px ) 
	body
		#main
			#domLayer
				#overlays
					font-size 11px
					line-height 14px