html, body
    width 100%
    height 100%
    height -webkit-fill-available
    padding 0
    margin 0
    font-family: 'IBM Plex Sans', sans-serif;
    background #000000
    overflow hidden !important
    &:active
        h1
            display none
*::-webkit-scrollbar
    display none

*
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

h1
    position fixed
    margin 0
    padding 0
    top 20px
    left 20px
    z-index 100
    font-size 440px
    line-height 410px
    letter-spacing -0.1px
    word-break break-all
    
    pointer-events none
    text-decoration underline
    font-weight 700
    opacity 0
    transition opacity 0.6s

app-container
    width 100%
    height 100%
    height -webkit-fill-available
    position absolute
    display block
    scroll-snap-type y mandatory
    // scroll-snap-stop always
    overflow-y scroll
    overflow-x hidden
    -webkit-overflow-scrolling: touch;
    // pointer-events none
    &.scrolling
        h1
         opacity 1
    app-about
        width 100vw
        height 100vh
        position relative
        top 0
        display block
        z-index auto
        .inner
            position relative
            top 0
            left 0
            width 100vw
            height 100%
    app-module
        width 100vw
        height 100%
        position relative
        scroll-snap-align: start;
        // scroll-snap-stop always
        top 0
        display block
        z-index auto
        overflow hidden
        .inner
            position relative
            top 0
            left 0
            width 100vw
            height 100%
        app-slide
            width 100vw
            height 100%
            float left
            position relative
            display block
            overflow hidden
            app-asset, app-video
                width 100vw
                height 100%
                position absolute
                top 0
                left 0
            &.manual
                app-asset
                    transition opacity 0.2s
                    &.active
                        transition opacity 0.2s
            app-asset
                opacity 0
                transition opacity 1s
                &.active
                    opacity 1
                    transition opacity 1s 0.2s
            *
                pointer-events none
            iframe
                border none
                position absolute
                top 50%
                left 50%
                transform translate3d( -50%, -50%, 0    )
        &.info
            app-slider
                opacity 0.3
            .info
                transform translate3d( 0, 0, 0 )
                opacity 1
                pointer-events auto
            .label
                transform translate3d( 0, 20px, 0 )

        .label
            opacity 0
            position fixed
            bottom 0px
            color #ffffff
            pointer-events none
            font-family: 'IBM Plex Mono', monospace;
            font-size 12px
            transform translate3d( 0, -20px, 0 )
            transition transform 0.9s cubic-bezier(0.25, 1, 0.5, 1) , opacity 0.1s
            left 10px
            padding 4px 10px 4px 10px
            pointer-events none
            background #000000
            border-radius 1px

        .info
            position absolute
            bottom 20px
            transform translate3d( 0, -40px, 0 )
            opacity 0
            transition transform 0.9s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.6s
            font-family: 'IBM Plex Mono', monospace;
            font-size 12px
            color #ababab
            max-width 480px
            padding 4px 10px 4px 20px
            pointer-events none
            
        &.active
            .label
                pointer-events auto
                opacity 1
                transition transform 0.9s cubic-bezier(0.25, 1, 0.5, 1) , opacity 1s 0.1s