.info
	.inner
		.title MASLO
		.copy
			p
				| Maslo is a digital companion that uses AI to understand the user's emotions and communicate expressions accordingly. The goal of this project was to create a humanistic approach to give life to an artificial intelligence generated entity to humanize it and make it empathetic to human beings. The use of several overlapping layers represent the spectrum of human emotions and allow for multiple combinations of movement, position, and color to express a wide range of emotions. Currently, Maslo V2 is being developed on augmented reality and is 'teaching' itself how to animate through machine learning.
			p
				| The working prototype for the first version of Maslo can be visited #[a( href='http://proper-code.com/maslo-1a/', target="_blank" ) HERE] ( preferably with Google Chrome )