.info
	.inner
		.title LA REMOLACHA HACKLAB
		.copy
			p
				| La Remolacha Hacklab is a robotics and makers' collaborative space where people from different profiles and background share their knowledge on fabrication and prototyping of high tech farming devices. Remolacha means beetroot in Spanish and was chosen as a symbol or mascot for the lab. The piece created for this project was a hydroponic life beetroot contained in a glass box. The container has four buttons that will provide water, substrate, light or music to promote the beetroot's growth. Attached to the beetroot installation, a screen displays the current state of the plant through an abstract visual system made of rings ( resembling a sectioned beetroot ). The data is also streamed via web sockets to the lab's website where anyone can see any interaction done with the installation on real-time and check the current status of the beetroot's ecosystem. This visual system was later adopted as the visual identity of the lab.
			p
				| Collaboration : #[a( href='http://12caracteres.com/', target="_blank" ) 12caracteres.com]