.info
	.inner
		.title JIN MIN
		.copy
			p
				| Jin Min is a Seoul based wood artist maintaining Korean woodworking style alife by using exclusively wood joinery. Her identity was created by a 3d model of her name constructed from wood blocks connecting through traditional joinery.