.info
	.inner
		.title QUANTUM FONT
		.copy
			p
				| Research of the use of science to achieve new results in the visual arts within the framework of quantum physics. 
			p
				| Collaborating with a physicist, this project explores the connections between science and design creating a 'typewriter' that will a set of particles with different entropies in real-time every time a new letter is typed.
			p
				| According to the laws of quantum physics, objects don’t have fixed positions. Instead, we can only define the probabilities of finding them in a given places. As a consequence, standard concepts in typography like the distance between letters (kerning), line spacing, letter eye or x-height become meaningless. New typographic parameters are originated, such as the number of points composing the letters, the spread of the points or the size of each point.
			p
				| Collaboration: #[a( href='http://danielcavalcanti.com/es/', target="_blank" ) Daniel Cavalcanti] #[br ] 
				| Interactive version #[a( href='http://proper-code.com/quantum', target="_blank" ) here]