app-module
    app-slide
        app-asset( data-video = "https://player.vimeo.com/video/753671105" ).contain
    .label 6 &lt; n &lt; 14 / 2022 / On-chain NFT / Art Blocks ~&gt; #[a.infoToggle(href='javascript:void(0)') More ]
    .info
        p 6 &lt;  n &lt;  14 is an ode to our present cosmological era, the Stelliferous Era, and its rapid self-destructive process. The piece, consisting of a lunar and a solar calendar, keeps track of the time left in our era and forewarns its cosmologically imminent extinction.
        p Technology: WebGL ( three.js r140 ) #[br]Resolution: Responsive 