app-module(style='background:rgba(255,255,255,1);')
    app-slide
        app-asset( data-style='background: #ffffff url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/458aa8153579225.6332953f7d19b.jpg");background-size:contain;background-position:center center;background-repeat:no-repeat' )
        app-asset( data-style='background: #ffffff url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/1910c9153579225.6332953f7e735.jpg");background-size:contain;background-position:center center;background-repeat:no-repeat' )
        app-asset( data-style='background: #ffffff url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/6b9565153579225.6332953f7a0b5.jpg");background-size:contain;background-position:center center;background-repeat:no-repeat' )
        app-asset( data-style='background: #ffffff url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/7f3b02153579225.6332953f7b6b0.jpg");background-size:contain;background-position:center center;background-repeat:no-repeat' )
        app-asset( style='background:rgba(240,240,240,1);' data-video = "https://player.vimeo.com/video/754101665" ).contain
        app-asset( data-style='background: #ffffff url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/e6dc75153579225.6332953f7c3f3.png");background-size:contain;background-position:center center;background-repeat:no-repeat' )
        app-asset( data-style='background: #ffffff url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/8611d1153579225.6332953f7efd2.jpg");background-size:contain;background-position:center center;background-repeat:no-repeat' )
        app-asset( data-style='background: #ffffff url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/88d4e8153579225.6332953f7adf1.jpg");background-size:contain;background-position:center center;background-repeat:no-repeat' )
        app-asset( data-style='background: #ffffff url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/411372153579225.6332953f794b8.jpg");background-size:contain;background-position:center center;background-repeat:no-repeat' )
        app-asset( data-video = "https://player.vimeo.com/video/754102070" )
    ul.label
        li AirPods Max (2021)
        li Interactive experience (WebGL, js, Blender, React)
        li Apple
    .info
        p I was invited by ElisavaSchool of Design to give a creative code workshop during the Public Billboard Creative Marathon. Students were invited to participate in the creation of a collaborative billboard from design to its complete production. In order to provide a practical environment during the workshop, I created a micro-coding framework with it's own minimal and condensed syntax.