app-module
    
    app-slide
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/b03faf153432443.632f9f77ac2c5.jpg");background-size:30%;background-position:center;' )
        app-asset( data-video = "https://player.vimeo.com/video/751002707" )
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/5b6aab153432443.632f9f77addd2.jpg");background-size:contain;background-position:center;' )
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/410b26153432443.632f9f77abbed.jpg");background-size:contain;background-position:center;' )
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/e06c28153432443.632f9f77ad05c.jpg");background-size:contain;background-position:center;' )
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/cd6abe153432443.632f9f77ab4da.jpg");background-size:cover;background-position:center;' )
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/248554153432443.632f9f77ad712.jpg");background-size:cover;background-position:center;' )
    .label Anti Filter / 2021 / Installation / GETXOPHOTO ~&gt; #[a.infoToggle(href='javascript:void(0)') More ]
    .info
        p Is the social network Instagram a tool that strengthens our self-esteem or does it actually make us weaker? To reflect on this, several Elisava undergraduate students have designed the Instagram filter 'Anti' for the Getxophoto Festival. A collective, random and spontaneous experience to experiment with the deconfiguration and dissociation of the face.
        p Getxophoto festival-goers were able to interact with the application in the installation 'Public Protest Video' and the filter is was available for private use on Getxophoto's Instagram account.
        p Exhibited at Getxophoto ( 2021 ) designed and developed with five students from ELISAVA Escola Universitària de Disseny i Enginyeria de Barcelona: Carla Carrasco, Carla de la Torre, Daniel Verano, Sofia Tarragona and Laura Badía.