app-module
    app-slide(style='background:#131313;')
        app-asset( data-style='background: #131313 url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/8de05b152514129.6331547684149.png");background-size:contain;background-position:center;background-repeat:no-repeat;' )
        app-asset( data-style='background: #131313 url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/618526152514129.633146fa5512e.png");background-size:contain;background-position:center;background-repeat:no-repeat;' )
        app-asset( data-style='background: #131313 url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/5db3b6152514129.633146fa574c2.png");background-size:contain;background-position:center;background-repeat:no-repeat;' )
        app-asset( data-style='background: #131313 url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/b75474152514129.633146fa544f3.png");background-size:contain;background-position:center;background-repeat:no-repeat;' )
        app-asset( data-style='background: #131313 url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/e6fdbd152514129.6331547684d66.png");background-size:contain;background-position:center;background-repeat:no-repeat;' )
        app-asset( data-style='background: #131313 url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/5180b5152514129.6331547684737.png");background-size:contain;background-position:center;background-repeat:no-repeat;' )
        app-asset( data-style='background: #131313 url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/735c8a152514129.633146fa5699f.png");background-size:contain;background-position:center;background-repeat:no-repeat;' )
        app-asset( data-style='background: #131313 url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/7a3172152514129.633146fa56f4a.png");background-size:contain;background-position:center;background-repeat:no-repeat;' )
        app-asset( data-style='background: #131313 url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/52954f152514129.633146fa53e5c.png");background-size:contain;background-position:center;background-repeat:no-repeat;' )
        app-asset( data-style='background: #131313 url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/1cd72a152514129.633146fa56395.png");background-size:contain;background-position:center;background-repeat:no-repeat;' )
        app-asset( data-style='background: #131313 url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/87bbbe152514129.633146fa55744.png");background-size:contain;background-position:center;background-repeat:no-repeat;' )
        app-asset( data-style='background: #131313 url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/87706c152514129.633146fa54afc.png");background-size:contain;background-position:center;background-repeat:no-repeat;' )
        app-asset( data-style='background: #131313 url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/117fc2152514129.633146fa55d32.png");background-size:contain;background-position:center;background-repeat:no-repeat;' )
    .label Cosmodesias / 2022 / On-chain NFT / Art Blocks ~&gt; #[a.infoToggle(href='javascript:void(0)') More ] 
    .info
        p Cosmodesias imagines a region not subjected to orthodox physical space-time conventions. Light trails navigate a multi-dimensional space warped and bent by mathematical formulas, producing imaginary volumes which become a humble reminder of the vast unknown surrounding us and our existence.