app-module
    app-slide
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/7ce88f136731635.61fecadea9786.gif");background-size:cover;background-position:center;' )
    .label And when the dust settled... / 2020 / Interactive Poem