app-module
    app-slide
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/e6eb52136735285.61fed8ea8abf5.png");background-size:50%;background-position:center;' )
        app-asset( data-video='https://player.vimeo.com/video/753472043' )
    ul.label
        li The Fateful Encounter (2019)
        li Generative Artwork
        li WebGl + js
    .info
        p The Fateful Encounter describes an accidental moment in time when bacteria and archaea join to form the first eukaryote. The event, which is the only scientifically plausible explanation for the origin of complex life, challenges us to accept the biggest of long shots as the origin of our existence. 
        p The piece re-enacts that distinctive moment, picturing the darkness and solitude of existence before life originated. It captures the most unforeseeable of the events which changed organisms forever becoming, in a way, the first and purer of all 'generative' events.
        p Technology : WebGL ( three.js r140 ) #[br] Technique : Raymarched point mesh
        p #[a(href='https://versum.xyz/token/versum/23043' target='_blank') Market ]