app-module
    app-slide
        app-asset( data-video = "https://player.vimeo.com/video/754091642" )
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/3168fe153568135.633251f53ef8f.jpeg");background-size: cover;background-position:center center;background-repeat:no-repeat;' )
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/4990d8153568135.633251f53dcea.jpeg");background-size: cover;background-position:center center;background-repeat:no-repeat;' )
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/fb9ae4153568135.633251f53cd7a.jpeg");background-size: cover;background-position:center center;background-repeat:no-repeat;' )
        app-asset( data-style='background: rgba(242, 242, 242, 1 ) url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/e7a018153568135.633251f5400a3.jpg");background-size: 80% auto;background-position:center center;background-repeat:no-repeat;' )
        app-asset( data-style='background: #ffffff url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/00dcf1153568135.633251f53f84c.jpg");background-size: 80% auto;background-position:center center;background-repeat:no-repeat;' )
        app-asset( style='background:#ffffff' data-video = "https://player.vimeo.com/video/754091801" ).contain
    ul.label
        li Mac Pro @ WWDC ( 2019 )
        li Augmented reality experience
        li Apple
    .info
        p I worked on this augmented reality experience to show the new Mac Pro at WWDC 2019. The experience was quite challenging since we had to ultimately ship the experience on Reality Kit which was being developed at the same time we were prototyping it on Unity. 
        p My role on this project mainly consisted on: #[br] - Animation and interaction#[br]- Shader development and geometry optimization.#[br]- Porting a complex Unity project onto#[br]- Developing a robust tracking system using a custom-built NN.