app-module
    app-slide
        app-asset( data-video = "https://player.vimeo.com/video/754079688" )
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/75882e153566133.63324546e40a2.png");background-size: cover;background-position:center center;background-repeat:no-repeat;' )
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/0889ea153566133.63324546e3117.png");background-size: cover;background-position:center center;background-repeat:no-repeat;' )
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/eb3c5b153566133.63324546e385c.jpg");background-size: cover;background-position:center center;background-repeat:no-repeat;' )
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/b759b2153566133.63324546e2006.gif");background-size: contain;background-position:center center;background-repeat:no-repeat;' )
    ul.label
        li Maslo ( 2019 )
        li AI entity
        li Maslo.ai
    .info
        p This project was created for Maslo, an AI companion. Our goal was to bring to life an abstract form that could become a visual representation of an AI while being empathetic and allowing for a rich set of emotional responses.
        p The goal of this project was to create a humanistic approach to give life to an artificial intelligence generated entity to humanize it and make it empathetic to human beings. The use of several overlapping layers represent the spectrum of human emotions and allow for multiple combinations of movement, position, and color to express a wide range of emotions.
        p The working prototype for the first version of Maslo can be visited #[a(href='http://proper-code.com/maslo-1a/') here]