app-module
    app-slide
        app-asset( data-style='background: #ffffff url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/3b3bc2136745227.61ff27be154a3.png");background-size:contain;background-position:center center;background-repeat:no-repeat' )
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/dd795d136745227.61ff1f663d2e9.jpg");background-size:cover;background-position:center;' )
        app-asset( data-video = "https://player.vimeo.com/video/753439008" )
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/9ddfb1136745227.61ff27bd7d8e3.jpg");background-size:cover;background-position:center;' )
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/acf665136745227.61ff27bdc14e4.jpg");background-size:cover;background-position:center;' )
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/5feac2136745227.61ff27bdc08de.jpg");background-size:cover;background-position:center;' )
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/a6b9f8136745227.61ff27bdc0e89.jpg");background-size:cover;background-position:center;' )
            
    ul.label
        li Public Billboard's Creative Marathon (2021)
        li Workshop + Installation
        li Elisava
    .info
        p I was invited by ElisavaSchool of Design to give a creative code workshop during the Public Billboard Creative Marathon. Students were invited to participate in the creation of a collaborative billboard from design to its complete production. In order to provide a practical environment during the workshop, I created a micro-coding framework with it's own minimal and condensed syntax.