app-module
    app-slide
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/29e547136700471.61fe32599ec87.png");background-size:contain;background-position:center;' )
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/e6091d136700471.61fe3259a027a.png");background-size:cover;background-position:center;' )
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/27584f136700471.61fe3259a0ecf.png");background-size:cover;background-position:center;' )
    ul.label
        li Retina (2020)
        li Generative artwork
        li Comissioned by El Pais