app-module
    app-slide
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/46cbf2152808113.63244ef3a583f.jpg");background-size:cover;background-position:center;' )
        app-asset( data-video='https://player.vimeo.com/video/753429937' ).contain
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/4e69fc152808113.63244ef3a89a7.jpg");background-size:cover;background-position:center;' )
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/27a563152808113.63244ef3a7793.jpg");background-size:contain;background-position:center;' )
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/e12f27152808113.63244ef3a4ed9.jpg");background-size:cover;background-position:center;' )
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/3800f7152808113.63244ef3a6424.jpg");background-size:cover;background-position:center;' )
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/be8865152808113.63244ef3a6f8b.jpg");background-size:cover;background-position:center;' )
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/52803f152808113.63244ef3a4611.jpg");background-size:cover;background-position:center;' )
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/33b396152808113.632fb09a57e55.gif");background-size:contain;background-position:center;repeat:no-repeat;' )
    .label Spectacle of society / 2022 / Installation / Gray Area ~&gt; #[a.infoToggle(href='javascript:void(0)') More ] 
    .info
        p.first The Spectacle of Society is an immersive/interactive installation developed for Gray Area's immersive showcase which took place March 2nd, 2022. The installation exposes the relationship between the observed and the observer within the context of surveillance culture.
        p We tend to think about surveillance culture as a sort of black hole, from where these obscure forces observe us from the shadows. As if our role in said culture was that of passive victims. However, how much of our actions ( or inaction ) conform and sustain it? How easily do we become part of a system by the mere fact of observing it? 
        p.last The experience, consisting of a motion-tracked projection, invites users to participate at several levels. Allowing them to experience being an #[i observer] and #[i observed] becoming part of both sides of the surveillance system.