app-module
    app-slide
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/fb7e56136742893.61ff0aeda4a76.png");background-size: cover;background-position:center center;background-repeat:no-repeat;' )
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/d2a6fc136742893.61ff095597906.png");background-size: cover;background-position:center center;background-repeat:no-repeat;' )
        app-asset( data-video = "https://player.vimeo.com/video/753600031" )
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/6ab8dd136742893.61ff095598997.png");background-size: cover;background-position:center center;background-repeat:no-repeat;' )
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/abbb95136742893.61ff0955973ff.png");background-size: cover;background-position:center center;background-repeat:no-repeat;' )
        app-asset( data-style='background: #000000 url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/5898b3136742893.61ff095598113.png");background-size: cover;background-position:center center;background-repeat:no-repeat;' ) 
    ul.label
        li T-Minus ∞ (2019)
        li Installation + VR xp
        li Spaces 3.0 Gallery
    .info
        p T-Minus ∞ was created as a VR installation for spaces 3.0, held online by spaces.gallery.
        p The installation is an allegory of the human-machine relation and their unavoidable progression towards the singularity. Is the humanoid moving the treadmill? Or is the treadmill moving the humanoid? Is technological progress our achievement at all? Or where were we created for the sole purpose of evolving technology?