app-module
    app-slide
        app-asset( data-style='background: #ffffff url("https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/4ecb1f153436541.632fd320e5820.png");background-size:contain;background-position:center;' )
        app-asset( data-video='https://player.vimeo.com/video/753452978' )
        app-asset( data-style='background: #ffffff url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/4459b2153436541.632fd320e62b6.jpg");background-size:cover;background-position:center;' )
    ul.label
        li Winds of Mallorca (2020)
        li In-store installation
        li Comissioned by Camper