.info
	.inner
		.title WWDC
		.copy
			p
				| Idea pitched to create the visual identity of the 2017 WWDC edition, held by Apple every year introducing new features to the developer community. The project explored a modular letterform for WWDC where each letter would be decomposed onto primitive volumes forming a code playground. This 3d playground could be accessed online, each volume would expose the code used to generate it, and visitors ( mostly developers ) would be able to modify it. Creating an ever-changing and collaborative logo communicating the main ideas that this edition attempted to express being connectivity, participation and belonging to the Apple ecosystem.