.info
	.inner
		.title SANTAMONICA
		.copy
			p
				| Typography app for Arts Santa Mònica, art center in Barcelona. The app allows for the typographic system designed by Mario Eskenazi and Daniel Rubio to maintain always the same proportions while confering the identity a playful character. Typeset in a condensed style of Titling Gothic, the logo mimics the upward and downward incline of the building’s ramp to create an energetic wordmark that can be rendered in four configurations for flexible application.
			p
				| To keep things easy for applications, a custom script application was created to generate the step’d typography. Entering a word renders it in four configurations, each growing and shrinking from left and right. The resulting typography works great to make tight-fitting compositions that establish a consistent identity no matter what.
			p
				| Collaboration : #[a( href='http://www.m-eskenazi.com/', target="_blank" ) Mario Eskenazi] and #[a( href='http://www.rubioarauna.com/', target="_blank" ) Daniel Rubio]