.info
	.inner
		.title EINA 50 YEARS
		.copy
			p
				| Procedural logo was created to commemorate Eina's (design school from Barcelona) 50th anniversary. The main idea behind it is to create a collaborative experience where everyone can participate or 'be the designer' of the logo in an attempt to democratize design. Simultaneously the idea of an ongoing changing piece expresses an evolution and perdurance in time.
			p
				| Starting on the day of the anniversary ( September 20th, 2016 ) a new logo will be generated every day, forever, at 00h 00m 00s. The logo consists of a random assortment of blocks. Each of this blocks contains an initial random texture that may ( or may not ) be animated. Anytime during the day anyone can visit the interactive version of the logo and modify the logo's composition. These changes are visualized real-time via web sockets. At 23h 59m 59s, the logo of the day will be saved, and a new one will be generated. Previously generated logos are stored in a historical archive and can be revisited by scrolling down on the page. 
			p
				| The interactive piece can be visited #[a( href='http://proper-code.com/50anys/', target="_blank" ) here]