.info
	.inner
		.title JANSKY
		.copy
			p
				| Procedural visuals for #[a( href='https://jansky.bandcamp.com/', target="_blank" ) Jansky] live sets based on the design of their latest album 'Commedia'. Visuals contain a post-process pipeline composed on multiple passes that are randomized every 4 bars generating a never ending sequence of new effects through combination. Live version #[a( href='http://proper-code.com/jansky/', target="_blank" ) here].
			p
				| Design by: #[a( href='http://www.rubioarauna.com/', target="_blank" ) Daniel Rubio] #[br ] 