doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover')
    title Santiago. - Digital artisan
    meta(name="description" content="Santiago's portfolio.")
    meta(property="og:title" content="Santiago.")
    meta(property="og:description" content="Digital artisan")
    meta(property="og:url" content="https://proper-code.com")
    meta(property="og:image" content="https://proper-code.com/images/meta_og_image.png")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content="Santiago.")
    meta(name="twitter:description" content="Digital artisan")
    meta(name="twitter:image" content="https://proper-code.com/images/meta_og_image.png")
    meta(name="twitter:site" content="@glitch_life")
    meta(name="twitter:creator" content="@glitch_life")

    <link rel="apple-touch-icon" sizes="57x57" href="https://proper-code.com/images/favicon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://proper-code.com/images/favicon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://proper-code.com/images/favicon-114x114.png">
    <link rel="apple-touch-icon" href="https://proper-code.com/images/favicon-180x180.png">

    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;1,300;1,400&family=IBM+Plex+Sans:wght@200;700&display=swap" rel="stylesheet")
    link(rel='stylesheet', id='mainStylesheet' href='../css/main.styl')
  body
    app-container
      h1 Santiago.
      include ./projects/3-19.pug
      include ./projects/spectacle.pug
      include ./projects/cosmodesias.pug
      include ./projects/anti-filter.pug
      include ./projects/winds.pug
      include ./projects/ppb.pug
      include ./projects/retina.pug
      include ./projects/dust.pug
      include ./projects/fateful.pug
      include ./projects/t-minus.pug
      include ./projects/6n14.pug
      app-module.about
        .inner
          p Santiago is a digital artisan, based in San Francisco. He was born in Barcelona, in 1982, around the eclosion years of personal computers and video games. This led to his fascination for technologically-derived aesthetics.
          p His work is introspective and exploratory, touching on subjects of a very personal nature. Strongly influenced by Romanticism and its idea of the sublime, he aims to expose the juxtaposition of the subjective (emotion) and the objective (an observable but often unsurmountable reality). As defined by Edmund Burke, '... it is a quest for astonishment. A state of the soul, in which all its motions are suspended and in which the mind is so filled with a subject, that it cannot entertain any other.'
          p Santiago uses synthetic code languages as his only source of creation, becoming the 'space' where art emerges in its purest form. In this sense, code is regarded as a sort of transhumanistic poetry, common ground between us and machines. His work employs mathematical principles, physic simulations, genetic algorithms, and artificial intelligence to encapsulate meaning in the form of machine-interpretable routines.
          p #[a( href='https://www.instagram.com/____santi____/' target='_blank' ) Instagram] #[a( href='https://twitter.com/glitch_life' target='_blank' ) Twitter] #[br] Work for sale #[a( href='https://linktr.ee/_santiago_' target='_blank' ) here]
    script(src='https://player.vimeo.com/api/player.js')
    script(src='../js/main.js')
