.info
	.inner
		.title ICEBERGS
		.copy
			p
				| Excerpts from a real-time projection created for my exhibition 'The Beauty of Process' which showcased explorations on heuristic processes within art and design to promote innovation and unexpected results. The visuals, consisting of a set of several code loops generate a new shape on each interaction and show in different ways the process that takes place to do so, such as random vertex positioning, Delaunay triangulation, convex hull estimation or tessellation. The use of an iceberg symbolizes the magnitude, importance, and beauty of the undergoing creation process that usually remains hidden underneath the visible layer of an art piece.