doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Santi Grau - Portfolio
    link(href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,400", rel="stylesheet")
    link(rel='stylesheet', id='mainStylesheet' href='css/main.css')
  body
    #aboutPage
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus velit ligula, pulvinar feugiat tellus eget, vestibulum mollis magna. 
        | Curabitur consectetur ligula sit amet est accumsan, ut tristique neque rutrum. Pellentesque ornare lacus non porta ullamcorper.
        | Pellentesque fermentum rutrum metus id molestie. Pellentesque a ornare metus. Fusce aliquam ipsum sem, nec accumsan elit pharetra nec. 
        | In eu neque id libero lacinia consectetur.
        | Proin ullamcorper erat metus, quis posuere metus tristique in. Nullam ultricies, purus at sagittis gravida, augue purus tempor nunc, vitae ultrices purus ex ut mi. Nullam semper mollis nibh, ac suscipit sapien suscipit lacinia. Nulla quis lacus arcu. Proin cursus ultrices sem, non interdum lorem efficitur vitae. Donec luctus porta nulla, at vulputate ligula ornare nec. Fusce at dui lorem. Donec tempus lobortis tellus, id ornare diam egestas sit amet. Integer lacinia euismod urna, et finibus nisl molestie eget.
        | Vestibulum velit erat, ultricies nec dapibus a, pretium nec massa. Nunc tempus cursus nisl blandit ornare. Mauris maximus nibh ultrices mi blandit venenatis. Proin fermentum metus eu varius imperdiet. Cras vitae accumsan purus, eget congue odio. Integer eget maximus diam, a ultricies magna. Aenean ut erat auctor, venenatis lorem ac, gravida nunc. Proin libero ante, porta ac vestibulum id, faucibus id nibh. Nam lectus nibh, auctor in vulputate vel, tincidunt non sapien. Nam molestie nisi libero. Nullam nulla metus, tempor ut enim ac, auctor iaculis lectus. Donec in risus leo.
    #bg
    #main
        #threeLayer
        #domLayer
            svg#menu(width='1052px', height='810px')
                path.svgtxt#aboutText.active(d='M270.5,229.9l-21.2-63.4h-80l-21.2,63.4h-6.3l63.4-189.9h8.2l63.4,189.9H270.5z M209.5,46.9h-0.8l-37.8,114.2h76.7L209.5,46.9z M312.1,40.1h60.4c14.1,0,25.1,4,32.9,12.1c7.8,8.1,11.7,20.1,11.7,36c0,12.5-2.3,22.3-6.9,29.4c-4.6,7.1-11.1,12-19.4,14.7v0.5c11.8,2.2,20.6,7.4,26.4,15.7c5.8,8.3,8.7,18.9,8.7,32c0,15.1-4,27.1-12,36.1c-8,9-19.8,13.5-35.4,13.5h-66.4V40.1z M372.5,130.9c6.5,0,12.2-1,17-3c4.8-2,8.7-4.7,11.8-8.2c3.1-3.4,5.4-7.4,6.9-11.8c1.5-4.4,2.3-9.1,2.3-14V82.5c0-4.9-0.8-9.6-2.3-14c-1.5-4.4-3.9-8.4-6.9-11.8c-3.1-3.4-7-6.2-11.8-8.2c-4.8-2-10.5-3-17-3h-54.4v85.4H372.5z M378.5,224.5c7.1,0,13.1-1.1,18.2-3.3c5.1-2.2,9.3-5,12.6-8.6c3.4-3.5,5.8-7.6,7.5-12.3c1.6-4.6,2.4-9.4,2.4-14.3v-11.5c0-4.9-0.8-9.7-2.4-14.3s-4.1-8.7-7.5-12.3c-3.4-3.5-7.6-6.4-12.6-8.6c-5.1-2.2-11.2-3.3-18.2-3.3h-60.4v88.4H378.5z M527.5,233.2c-10,0-18.8-1.9-26.5-5.6c-7.7-3.7-14.2-9.5-19.6-17.4c-5.4-7.9-9.4-18-12.1-30.5c-2.7-12.4-4.1-27.3-4.1-44.7c0-17.4,1.4-32.3,4.1-44.7c2.7-12.4,6.8-22.6,12.1-30.5c5.3-7.9,11.9-13.7,19.6-17.4c7.7-3.7,16.5-5.6,26.5-5.6c10,0,18.8,1.9,26.5,5.6c7.7,3.7,14.2,9.5,19.4,17.4c5.3,7.9,9.3,18,12.1,30.5c2.8,12.4,4.2,27.3,4.2,44.7c0,17.4-1.4,32.3-4.2,44.7c-2.8,12.4-6.8,22.6-12.1,30.5c-5.3,7.9-11.7,13.7-19.4,17.4C546.3,231.3,537.5,233.2,527.5,233.2z M527.5,227.8c18.1,0,32-7,41.5-20.9c9.5-14,14.3-35,14.3-63.1v-17.4c0-28.1-4.8-49.1-14.3-63.1c-9.5-14-23.3-20.9-41.5-20.9c-18.1,0-32,7-41.5,20.9c-9.5,14-14.3,35-14.3,63.1v17.4c0,28.1,4.8,49.1,14.3,63.1C495.5,220.8,509.4,227.8,527.5,227.8z M639,40.1v115.6c0,14,0.8,25.6,2.3,34.8c1.5,9.2,4.2,16.6,7.9,22.2c3.7,5.5,8.7,9.4,15,11.7c6.3,2.3,14.2,3.4,23.8,3.4c9.4,0,17.3-1.1,23.7-3.4c6.3-2.3,11.4-6.2,15.1-11.7c3.7-5.5,6.3-12.9,7.9-22.2c1.5-9.2,2.3-20.9,2.3-34.8V40.1h6v115.6c0,14.9-0.9,27.3-2.7,37.3c-1.8,10-4.9,18-9.1,23.9c-4.3,6-9.9,10.2-17,12.6c-7.1,2.4-15.8,3.7-26.1,3.7s-19-1.2-26.1-3.7c-7.1-2.4-12.7-6.7-17-12.6c-4.3-6-7.3-14-9.1-23.9c-1.8-10-2.7-22.4-2.7-37.3V40.1H639z M842.7,45.5v184.4h-6V45.5h-67.5v-5.4h140.9v5.4H842.7z')
                rect.svgbb#aboutBB( x='142', y='40', width='768', height='190', data-trigger='about' )
                path.svgtxt#workText.active(d='M235,499.9l-18.5-189.9h5.7l18,183.9h1.1l37.5-125.7h7.3l37.5,125.7h1.1l18-183.9h5.4l-18.5,189.9h-10.3l-36.4-123.5H282l-36.7,123.5H235z M447.1,503.2c-10,0-18.8-1.9-26.5-5.6c-7.7-3.7-14.2-9.5-19.6-17.4c-5.4-7.9-9.4-18-12.1-30.5c-2.7-12.4-4.1-27.3-4.1-44.7c0-17.4,1.4-32.3,4.1-44.7c2.7-12.4,6.8-22.6,12.1-30.5c5.3-7.9,11.9-13.7,19.6-17.4c7.7-3.7,16.5-5.6,26.5-5.6c10,0,18.8,1.9,26.5,5.6c7.7,3.7,14.2,9.5,19.4,17.4c5.3,7.9,9.3,18,12.1,30.5c2.8,12.4,4.2,27.3,4.2,44.7c0,17.4-1.4,32.3-4.2,44.7c-2.8,12.4-6.8,22.6-12.1,30.5c-5.3,7.9-11.7,13.7-19.4,17.4C465.9,501.3,457.1,503.2,447.1,503.2z M447.1,497.8c18.1,0,32-7,41.5-20.9c9.5-14,14.3-35,14.3-63.1v-17.4c0-28.1-4.8-49.1-14.3-63.1c-9.5-14-23.3-20.9-41.5-20.9c-18.1,0-32,7-41.5,20.9c-9.5,14-14.3,35-14.3,63.1v17.4c0,28.1,4.8,49.1,14.3,63.1C415.2,490.8,429,497.8,447.1,497.8z M561.4,499.9h-6V310.1h66.4c15.6,0,27.4,4.6,35.4,13.8c8,9.2,12,21.6,12,37.2c0,15.6-4,27.9-12,37.2c-8,9.2-19.8,13.8-35.4,13.8h-10.3l56.3,87.9h-7.1l-56-87.9h-43.2V499.9z M621.7,406.9c7.1,0,13.1-1.1,18.2-3.4c5.1-2.3,9.3-5.2,12.6-8.8c3.4-3.6,5.8-7.8,7.5-12.6c1.6-4.8,2.4-9.8,2.4-15.1v-11.4c0-5.1-0.8-10.1-2.4-15c-1.6-4.9-4.1-9.2-7.5-12.8c-3.4-3.6-7.6-6.6-12.6-8.8c-5.1-2.3-11.2-3.4-18.2-3.4h-60.4v91.4H621.7z M758.3,394.7l-36.4,40.3v65h-6V310.1h6v116.7h0.5l37.3-41.3l68-75.3h7.1l-72.1,80.2l72.9,109.6h-7.1L758.3,394.7z')
                rect.svgbb#workBB( x='216', y='310', width='620', height='190', data-trigger='projectList' )
                path.svgtxt#contactText.active(d='M67.4,773.2c-10.7,0-20.2-1.9-28.6-5.6c-8.3-3.7-15.4-9.5-21.1-17.4c-5.7-7.9-10-18-12.9-30.5c-2.9-12.4-4.4-27.3-4.4-44.7s1.4-32.3,4.4-44.7c2.9-12.4,7.2-22.6,12.9-30.5c5.7-7.9,12.7-13.7,21.1-17.4c8.3-3.7,17.9-5.6,28.6-5.6c12.9,0,23.8,3.4,32.8,10.3c9,6.9,15.5,16.2,19.7,28l-5.2,1.9c-3.6-10.9-9.5-19.4-17.7-25.6c-8.2-6.2-18-9.2-29.6-9.2c-19.8,0-34.8,7-45,20.9c-10.2,14-15.4,35-15.4,63.1v17.4c0,28.1,5.1,49.1,15.4,63.1c10.2,14,25.2,20.9,45,20.9c11.6,0,21.5-3.1,29.6-9.2c8.2-6.2,14.1-14.7,17.7-25.6l5.2,1.9c-4.2,11.8-10.7,21.1-19.7,28C91.2,769.7,80.3,773.2,67.4,773.2z M221.1,773.2c-10,0-18.8-1.9-26.5-5.6c-7.7-3.7-14.2-9.5-19.6-17.4c-5.4-7.9-9.4-18-12.1-30.5c-2.7-12.4-4.1-27.3-4.1-44.7s1.4-32.3,4.1-44.7c2.7-12.4,6.8-22.6,12.1-30.5c5.3-7.9,11.9-13.7,19.6-17.4c7.7-3.7,16.5-5.6,26.5-5.6c10,0,18.8,1.9,26.5,5.6c7.7,3.7,14.2,9.5,19.4,17.4c5.3,7.9,9.3,18,12.1,30.5c2.8,12.4,4.2,27.3,4.2,44.7s-1.4,32.3-4.2,44.7c-2.8,12.4-6.8,22.6-12.1,30.5c-5.3,7.9-11.7,13.7-19.4,17.4C239.9,771.3,231,773.2,221.1,773.2z M221.1,767.8c18.1,0,32-7,41.5-20.9c9.5-14,14.3-35,14.3-63.1v-17.4c0-28.1-4.8-49.1-14.3-63.1c-9.5-14-23.3-20.9-41.5-20.9c-18.1,0-32,7-41.5,20.9c-9.5,14-14.3,35-14.3,63.1v17.4c0,28.1,4.8,49.1,14.3,63.1C189.1,760.8,202.9,767.8,221.1,767.8z M333.1,588.2h-0.8v181.7h-5.7V580.1h8.7L430,761.8h0.8V580.1h5.7v189.9h-8.7L333.1,588.2z M542.3,587.5v182.4h-6V587.5h-67.5v-5.4h140.9v5.4H542.3z M736.5,769.9l-21.2-63.4h-80l-21.2,63.4h-6.3l63.4-189.9h8.2l63.4,189.9H736.5z M675.6,586.9h-0.8l-37.8,114.2h76.7L675.6,586.9z M838.6,773.2c-10.7,0-20.2-1.9-28.6-5.6c-8.3-3.7-15.4-9.5-21.1-17.4c-5.7-7.9-10-18-12.9-30.5c-2.9-12.4-4.4-27.3-4.4-44.7s1.4-32.3,4.4-44.7c2.9-12.4,7.2-22.6,12.9-30.5c5.7-7.9,12.7-13.7,21.1-17.4c8.3-3.7,17.9-5.6,28.6-5.6c12.9,0,23.8,3.4,32.8,10.3c9,6.9,15.5,16.2,19.7,28l-5.2,1.9c-3.6-10.9-9.5-19.4-17.7-25.6c-8.2-6.2-18-9.2-29.6-9.2c-19.8,0-34.8,7-45,20.9c-10.2,14-15.4,35-15.4,63.1v17.4c0,28.1,5.1,49.1,15.4,63.1c10.2,14,25.2,20.9,45,20.9c11.6,0,21.5-3.1,29.6-9.2c8.2-6.2,14.1-14.7,17.7-25.6l5.2,1.9c-4.2,11.8-10.7,21.1-19.7,28C862.4,769.7,851.4,773.2,838.6,773.2z M984.1,587.5v182.4h-6V587.5h-67.5v-5.4h140.9v5.4H984.1z')
                rect.svgbb#contactBB( x='0', y='581', width='1052', height='190', data-trigger='contact' )
            #overlays
                #about.overlay
                    .inner
                        | Hola! I am Santi, a Media Artist / Designer / Technologist. Currently Design Lead at the Design Tech team at Pinterest. 
                        | Previously Creative Tech Researcher at Apple, Creative Director at Cero Design and founder of Codekunstler Agency in Barcelona. 
                        | I specialize in procedural / generative graphics, with a strong focus on design and typography, motion graphics and live audio/visual matter. 
                        | I tend to partner up with designers and artists to make shit happen. Always looking for exciting new projects. 
                        | Based in San Francisco, available everywhere.#[br]#[br]
                        | More info about me #[a.innerOverlay( href='javascript:void(0)', id = 'buttt' ) [ HERE ] ].
                #projectList.overlay
                    .inner
                #contact.overlay
                    .inner
                        | Hola! I am Santi, a Media Artist / Designer / Technologist. Currently Design Lead at the Design Tech team at Pinterest.#[br]
                        | #[a.innerOverlay( href='javascript:void(0)', id = '6D61696C746F3A' ) [ CONTACT ] ]
    script(src='https://www.youtube.com/iframe_api')
    script(src='js/main.js')
    script.
        if( !window.location.href.includes('localhost') ){
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-45541930-1', 'proper-code.com');
            ga('send', 'pageview');
        }