doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Santi Grau - Portfolio
    link(href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,500,700", rel="stylesheet")
    link(rel='stylesheet', id='mainStylesheet' href='css/main.css')
  body
    #ie
        | Still using Internet Explorer? 😂 do yourself ( and everyone else ) a favor: #[a( href='https://www.google.com/chrome/', target='_blank' ) Download a real browser]
    #messenger.active
        | Loading ...
    #main
        #bg
        #threeLayer
        #domLayer
            .cont
                #intro
                    p
                        | &nbsp;
                    p.filler
                        | &nbsp;
                    p
                        span
                            | Hola! I am Santi, a Media Artist / Designer / Technologist. Currently Design Lead at Pinterest. 
                            | Previously Creative Tech Researcher at Apple, founder of Codekunstler  ( Barcelona )#[br]and Creative Director at Cero Design.
                    p
                        span
                            | &nbsp;
                    p
                        span
                            | Specialized in procedural / generative graphics, with a strong focus on design and typography. Passionate about motion graphics and live audio/visuals. 
                            | I usually partner up with designers and artists to make shit happen.
                p.filler
                    span#spacer1
                p
                    span#projectList
                        span.mobileOnly &nbsp;#[br]
                        | Some of my favorite projects :#[br]
                        | &nbsp;#[br]
                p.filler
                    span#spacer2
                #contact
                    p
                        span
                            span.mobileOnly &nbsp;#[br]
                            | Based in foggy San Francisco, available everywhere.#[br]
                            //- | If you feel like reading a bit more #[a( href='javascript:void(0)' ) about me]#[br]
                            | Any cool projects in mind? #[a( href='javascript:void(0)', id = '6D61696C746F3A' ) Contact me]#[br]
                            | I also have an #[a( href='https://www.instagram.com/____santi____/', target='_blank' ) Instagram account] and a #[a( href='https://www.linkedin.com/in/santigrau/', target='_blank' ) LinkedIn]
    
    script.
         if( ( /*@cc_on!@*/false || !!document.documentMode ) || ( !isIE && !!window.StyleMedia ) )document.getElementById('ie').classList.add('active');

    script(src='https://www.youtube.com/iframe_api')
    script(src='scripts/three.min.js')
    script(src='js/main.js')
    script.
        if (!window.location.hash.indexOf("localhost") >= 0 ){
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-45541930-1', 'proper-code.com');
            ga('send', 'pageview');
        }